body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.other-color {
    color: #42a5f5;
}

.signIn {
    margin-right: 20px;
}

.rounded {
    background-color: darkcyan;
}

